
img {
    width: 200px;
    height: 200px;
    margin: 3%;

}

.resizable {
    resize: both;
    overflow: scroll;
    border: 1px solid black;
}

div {
    height: 700px;
    width: 800px;
    padding: 1%;

}

li {
    height: 300px;
    width: 200px;
    margin: 1%;
    padding:2%;
    border: 1px solid lightgray;
    text-align-last: center;
    box-shadow: darkgray;
    list-style: none;
}  

.contain {
    object-fit: contain;
}

h6 {
    font-size: 8px;
    justify-content: center;
    padding: 1%;
}

h7 {
    font-size: small;
    padding: 1%;
}
.card-text  {
    text-align: center;
}

.row {
    background-color: rgb(240, 239, 239);
    justify-content: center;

}

h5 {
    font-size: smaller;
}